ion-header{
    --ion-background-color:#0e3b9e;
}

ion-content{
    --ion-background-color:#0e3b9e;
}

ion-tittle{
    text-align: center;
}

.card{
    color: rgb(255, 255, 255);

}

ion-card{
    background-color: rgb(248, 156, 18);
}

.titulo{
    text-align: center;
    color: white;
}

.si{
    color:rgb(203, 255, 126);
}

.parrafo{
    text-align: center;
}