<ion-header>
  <ion-toolbar>

     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenu()">
         <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
        </ion-button>
     </ion-buttons>

    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <img src="assets/logo.png" class="ion-padding">

  <ion-card class="card">
    <ion-card-content>
      <ion-card-title class="titulo">¡Tomar la asistencia nunca fue tan FÁCIL Y RÁPIDO!</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <br>
    <ion-card-title class="titulo">¿Que es RegistrAPP?</ion-card-title>
    <ion-card-content>
      <p>
        RegistrAPP es un aplicación para dispositivos móviles (Android y iOS), donde cada alumno podrá registrar su propia asistencia de forma fácil y rápida a través de un código QR generado por el Docente.
     </p>
    </ion-card-content>
    <icon-card>
      <img src="assets/duocmaipu.jpg" class="ion-padding">
    </icon-card>

  </ion-card>

  <ion-card class="card">
    <br>
    <ion-card-title class="titulo">¡Unete a RegistrAPP!</ion-card-title>
    <br>

    <ion-item href="tiporegistro">
      <ion-icon slot="start" name="person-add-outline" color="primary"></ion-icon>
      
      <ion-label class="wifi">Registrar Usuario</ion-label>
    </ion-item>

    <ion-item href="login">
      <ion-icon slot="start" name="log-in-outline" color="primary"></ion-icon>
      
      <ion-label class="wifi">Iniciar Sesión</ion-label>
    </ion-item>

  </ion-card>

  <img src="assets/logoduoc.png" class="ion-padding">



</ion-content>
