<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
       </ion-button>
    </ion-buttons>

    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <br>
  <ion-card-title class="titulo">Registro de Asistencia</ion-card-title>
  <Br>
</ion-card>

<ion-card class="card">
  <br>
  <ion-card-title class="titulo">Fechas en las que estas presente en clases</ion-card-title>
  <ion-card-content>
    <p>
      12/05/2022..........
   </p>
   <p>
      ....................
 </p>
 <p>
      ....................
</p>
  </ion-card-content>


</ion-card>


<img src="assets/logo.png" class="ion-padding">


</ion-content>
